
.pui-balloon {
  --bw: var(--bwidth, 4px);
  --bc: var(--bcolor, #000);
  --bw2: calc(2 * var(--bw));
  --bw3: calc(3 * var(--bw));
  --bw4: calc(4 * var(--bw));
  --bw5: calc(5 * var(--bw));
  --bw9: calc(9 * var(--bw));
  --bw10: calc(10 * var(--bw));
  --nbw: calc(-1 * var(--bw));
  --nbw2: calc(-2 * var(--bw));
  --sa: clamp(var(--bw2), var(--start-at, calc(2ch - var(--bw))), calc(100% - 6 * var(--bw)));
  --bgc: var(--bg-color, transparent);
  position: relative;
  padding: 1ex 1ch;
  border: var(--bw) solid transparent;
  border-bottom-width: var(--bw5);
  background-color: var(--bgc);
  background-clip: padding-box;
  min-width: var(--bw10);
  min-height: var(--bw9);
  box-sizing: border-box;
  &::before {
    content: '';
    size: 100%;
    absolute: t 0 l 0;
    box-shadow:
      var(--bw2) 0 0 var(--nbw) var(--bc),
      0 var(--bw2) 0 var(--nbw) var(--bc),
      var(--nbw2) 0 0 var(--nbw) var(--bc),
      0 var(--nbw2) 0 var(--nbw) var(--bc);
    --bgi: linear-gradient(var(--bc), var(--bc));
    background-image: var(--bgi), var(--bgi), var(--bgi), var(--bgi);
    background-repeat: no-repeat;
    background-size: var(--bw) var(--bw);
    background-position: 0 0, 100% 0, 0 100%, 100% 100%;
    --1bw: calc(100% + var(--bw));
    clip-path: polygon(
      var(--nbw) var(--1bw),
      var(--nbw) var(--nbw),
      var(--1bw) var(--nbw),
      var(--1bw) var(--1bw),
      calc(var(--sa) + 4 * var(--bw)) var(--1bw),
      calc(var(--sa) + 4 * var(--bw)) 100%,
      var(--sa) 100%,
      var(--sa) var(--1bw)
    );
    pointer-events: none;
  }
  &::after {
    content: '';
    --bc: var(--toe-bcolor, var(--bcolor, #000));
    --bgc: var(--toe-bg-color, var(--bg-color, transparent));
    background-color: var(--bgc);
    absolute: b var(--nbw) l var(--sa);
    size: var(--bw);
    box-shadow:
      var(--nbw) 0 var(--bc), var(--bw) 0 var(--bgc), var(--bw2) 0 var(--bgc), var(--bw3) 0 var(--bgc), var(--bw4) 0 var(--bc),
      var(--nbw) var(--bw) var(--bc), 0 var(--bw) var(--bgc), var(--bw) var(--bw) var(--bgc), var(--bw2) var(--bw) var(--bgc), var(--bw3) var(--bw) var(--bgc), var(--bw4) var(--bw) var(--bc),
      var(--nbw2) var(--bw2) var(--bc), var(--nbw) var(--bw2) var(--bgc), 0 var(--bw2) var(--bgc), var(--bw) var(--bw2) var(--bgc), var(--bw2) var(--bw2) var(--bgc), var(--bw3) var(--bw2) var(--bc),
      calc(-3 * var(--bw)) var(--bw3) var(--bc), var(--nbw2) var(--bw3) var(--bgc), var(--nbw) var(--bw3) var(--bgc), 0 var(--bw3) var(--bgc), var(--bw) var(--bw3) var(--bgc), var(--bw2) var(--bw3) var(--bc),
      calc(-3 * var(--bw)) var(--bw4) var(--bc), var(--nbw2) var(--bw4) var(--bc), var(--nbw) var(--bw4) var(--bc), 0 var(--bw4) var(--bc), var(--bw) var(--bw4) var(--bc);
  }
  &.from-right::before { transform: rotateY(180deg); }
  &.from-right::after {
    transform: rotateY(180deg);
    left: auto;
    right: var(--sa);
  }
  &.on-top {
    border-width: var(--bw);
    border-top-width: var(--bw5);
    &::before { transform: rotateX(180deg); }
    &.from-right::before { transform: rotateZ(180deg); }
    &::after {
      transform: rotateX(180deg);
      bottom: auto;
      top: var(--nbw);
    }
    &.from-right::after {
      transform: rotateZ(180deg);
    }
  }
  &.on-left, &.on-right {
    --sa: clamp(var(--bw2), var(--start-at, 2ex), calc(100% - 6 * var(--bw)));
    border-width: var(--bw);
    min-width: var(--bw9);
    min-height: var(--bw10);
    &::before {
      clip-path: polygon(
        var(--nbw) var(--nbw),
        var(--1bw) var(--nbw),
        var(--1bw) var(--1bw),
        var(--nbw) var(--1bw),
        var(--nbw) calc(var(--sa) + 4 * var(--bw)),
        0 calc(var(--sa) + 4 * var(--bw)),
        0 var(--sa),
        var(--nbw) var(--sa)
      );
    }
    &.from-top::after { top: auto; }
  }
  &.on-left {
    border-left-width: var(--bw5);
    &.from-top::before { transform: rotateX(180deg); }
    &::after {
      transform: rotateZ(90deg) rotateY(180deg);
      transform-origin: bottom;
      left: calc(-1.5 * var(--bw));
      top: calc(var(--sa) + 2.5 * var(--bw));
    }
    &.from-top::after {
      transform: rotateZ(90deg);
      bottom: calc(var(--sa) + 3.5 * var(--bw));
    }
  }
  &.on-right {
    border-right-width: var(--bw5);
    &::before { transform: rotateY(180deg); }
    &.from-top::before { transform: rotateZ(180deg); }
    &::after {
      transform: rotateZ(270deg);
      transform-origin: bottom;
      left: auto; bottom: auto;
      right: calc(-1.5 * var(--bw));
      top: calc(var(--sa) + 2.5 * var(--bw));
    }
    &.from-top::after {
      transform: rotateZ(270deg) rotateY(180deg);
      bottom: calc(var(--sa) + 3.5 * var(--bw));
    }
  }
}
