
.pui-bg {
  position: relative;
  &[no-repeat]::after { background-repeat: no-repeat; }
  &::after {
    content: '';
    display: block;
    absolute: t 0 l 0 z -999999999999999;
    size: 100%;
    image-rendering: pixelated;
    user-select: none;
    filter: brightness(var(--brightness));
    background: {
      attachment: var(--attach);
      blend-mode: var(--blend-mode);
      clip: var(--clip);
      color: var(--color);
      image: var(--img);
      origin: var(--origin);
      position: var(--pos);
      size: var(--size);
      repeat: var(--repeat);
    };
  }
}
