
.pui-bg {
  position: relative;
  &[no-repeat]::after { background-repeat: no-repeat; }
  &::after {
    content: '';
    display: block;
    absolute: t 0 l 0 z -999999999999999;
    size: 100%;
    image-rendering: pixelated;
    user-select: none;
    filter: brightness(var(--brightness));
    background-attachment: var(--attach);
    background-blend-mode: var(--blend-mode);
    background-clip: var(--clip);
    background-color: var(--color);
    background-image: var(--img);
    background-origin: var(--origin);
    background-position: var(--pos);
    background-size: var(--size);
    background-repeat: var(--repeat);
  }
}
