
.pui-checkbox, input[type=checkbox] {
  --r: calc(1px * var(--mark-zoom, 2));
  --r1: calc(2 * var(--r));
  --r2: calc(3 * var(--r));
  --r3: calc(4 * var(--r));
  --r4: calc(5 * var(--r));
  --r5: calc(6 * var(--r));
  --r6: calc(7 * var(--r));
  --r7: calc(8 * var(--r));
  --r8: calc(9 * var(--r));
  --r9: calc(10 * var(--r));
  utils-inherit-font-and-color: x;
  appearance: none;
  position: relative;
  margin: 0 .5ch;
  size: var(--r9) var(--r7);
  @each $color in primary, success, warning, error, disabled {
    &.$(color) { --mark-color: var(--pui-$(color)); }
  }
  &::before {
    content: '';
    position: absolute;
    size: 100%;
    cursor: pointer;
  }
  &::after {
    --box-incomplete: var(--r)var(--r),var(--r1)var(--r),var(--r2)var(--r),var(--r3)var(--r),var(--r4)var(--r),var(--r5)var(--r),var(--r6)var(--r),var(--r)var(--r1),var(--r)var(--r2),var(--r7)var(--r4),var(--r)var(--r5),var(--r7)var(--r5),var(--r)var(--r6),var(--r7)var(--r6),var(--r)var(--r7),var(--r1)var(--r7),var(--r2)var(--r7),var(--r3)var(--r7),var(--r4)var(--r7),var(--r5)var(--r7),var(--r6)var(--r7),var(--r7)var(--r7);
    --box-right-corner: var(--r7)var(--r),var(--r7)var(--r1),var(--r7)var(--r2),var(--r7)var(--r3);
    --box-left-puzzle: var(--r)var(--r3),var(--r)var(--r4);
    content: '';
    absolute: b var(--r7) l 0;
    color: var(--mark-color, inherit);
    size: var(--r);
    --bi: var(--box-incomplete);
    --bibrc: var(--bi),var(--box-right-corner);
    --box: var(--bibrc),var(--box-left-puzzle);
    --bs: var(--box);
    box-shadow: var(--bs);
  }
  &[at-after], &.at-after { &::after { left: calc(-1 * var(--r)); } }
  &:checked::after {
    --c: var(--mark-check-color,);
    --f0: var(--r)var(--r3)var(--c),var(--r)var(--r4)var(--c);
    --f1: var(--f0),var(--r1)var(--r3)var(--c),var(--r1)var(--r4)var(--c);
    --f2: var(--f1),var(--r2)var(--r4)var(--c),var(--r2)var(--r5)var(--c);
    --f3: var(--f2),var(--r3)var(--r5)var(--c),var(--r3)var(--r6)var(--c);
    --f4: var(--f3),var(--r4)var(--r4)var(--c),var(--r4)var(--r5)var(--c);
    --f5: var(--f4),var(--r5)var(--r3)var(--c),var(--r5)var(--r4)var(--c);
    --f6: var(--f5),var(--r6)var(--r2)var(--c),var(--r6)var(--r3)var(--c);
    --f7: var(--f6),var(--r7)var(--r1)var(--c),var(--r7)var(--r2)var(--c);
    --f8: var(--f7),var(--r8)var(--r)var(--c),var(--r8)var(--r1)var(--c);
    --f9: var(--f8),var(--r9)var(--r)var(--c),var(--r9)var(--r1)var(--c);
    --bs: var(--f9),var(--bi);
    pointer-events: none;
  }
  &[animation], &.animation { &:checked::after {
    animation: pui-checkbox-draw .2s steps(1);
  } }
  &:indeterminate::after {
    --c: var(--mark-indeterminate-color,var(--mark-check-color,));
    --mark: var(--r2)var(--r3)var(--c),var(--r3)var(--r4)var(--c),var(--r4)var(--r3)var(--c),var(--r5)var(--r4)var(--c);
    --bs: var(--box),var(--mark);
  }
  &:indeterminate.anti::after { --mark: var(--r2)var(--r4)var(--c),var(--r3)var(--r3)var(--c),var(--r4)var(--r4)var(--c),var(--r5)var(--r3)var(--c); }
  &:indeterminate.disc::after { --d: calc(var(--r) / 2); --d2: calc(var(--r2) + var(--d)); --d3: calc(var(--r3) + var(--d)); --d4: calc(var(--r4) + var(--d)); --mark: var(--d2)var(--d3)0 var(--d)var(--c),var(--d3)var(--d2)0 var(--d)var(--c),var(--d4)var(--d3)0 var(--d)var(--c),var(--d3)var(--d4)0 var(--d)var(--c);}
  &.circle, &.rect { &:indeterminate::after { --circle: var(--r2)var(--r3)var(--c),var(--r2)var(--r4)var(--c),var(--r3)var(--r2)var(--c),var(--r4)var(--r2)var(--c),var(--r5)var(--r3)var(--c),var(--r5)var(--r4)var(--c),var(--r3)var(--r5)var(--c),var(--r4)var(--r5)var(--c); } }
  &:indeterminate.circle::after { --mark: var(--circle); }
  &:indeterminate.rect::after { --mark: var(--circle),var(--r2)var(--r2)var(--c),var(--r5)var(--r5)var(--c),var(--r2)var(--r5)var(--c),var(--r5)var(--r2)var(--c); }
  &:indeterminate.square::after { --d: calc(1.5 * var(--r)); --d2: calc(var(--r2) + var(--d)); --mark: var(--d2)var(--d2)0 var(--d)var(--c); }
  & > label { cursor: pointer; }
}
@keyframes pui-checkbox-draw {
  0% { box-shadow: var(--box); }
  10% { box-shadow: var(--f0),var(--bibrc); }
  20% { box-shadow: var(--f1),var(--bibrc); }
  30% { box-shadow: var(--f2),var(--bibrc); }
  40% { box-shadow: var(--f3),var(--bibrc); }
  50% { box-shadow: var(--f4),var(--bibrc); }
  60% { box-shadow: var(--f5),var(--bibrc); }
  70% { box-shadow: var(--f6),var(--bibrc); }
  80% { box-shadow: var(--f7),var(--bi); }
  90% { box-shadow: var(--f8),var(--bi); }
}
