
.pui-cb {
  --bw: var(--bwidth, 4px);
  --bc: var(--bcolor, #000);
  box-shadow:
    calc(-1 * var(--bw)) 0 var(--bc),
    var(--bw) 0 var(--bc),
    0 calc(-1 * var(--bw)) var(--bc),
    0 var(--bw) var(--bc);
  @each $color in primary, success, warning, error, disabled {
    &.$(color) { --bcolor: var(--pui-$(color)); }
  }
  &[size=2] {
    position: relative;
    box-shadow:
      calc(-2 * var(--bw)) 0 0 calc(-1 * var(--bw)) var(--bc),
      calc(2 * var(--bw)) 0 0 calc(-1 * var(--bw)) var(--bc),
      0 calc(-2 * var(--bw)) 0 calc(-1 * var(--bw)) var(--bc),
      0 calc(2 * var(--bw)) 0 calc(-1 * var(--bw)) var(--bc);
    &::before, &::after {
      content: '';
      absolute: t var(--bw);
      size: var(--bw) calc(100% - 2 * var(--bw));
      box-shadow:
        0 calc(-1 * var(--bw)) var(--bc),
        0 calc(1 * var(--bw)) var(--bc);
    }
    &::before { left: 0; }
    &::after { right: 0; }
  }
}
