
.pui-cb {
  --bw: var(--bwidth, 4px);
  --bc: var(--bcolor, #000);
  --bgc: var(--bg-color, transparent);
  --nbw: calc(-1 * var(--bw));
  border: var(--bw) var(--bc) solid;
  background-color: var(--bgc);
  background-clip: padding-box;
  @each $color in primary, success, warning, error, disabled {
    &.$(color) { --bcolor: var(--pui-$(color)-hover); }
  }
  &[size='1'], &[size='2'] {
    border-color: transparent;
    position: relative;
    &::after {
      content: '';
      pointer-events: none;
      size: 100%;
      absolute: t 0 l 0;
      box-shadow: var(--nbw) 0 var(--bc), var(--bw) 0 var(--bc), 0 var(--nbw) var(--bc), 0 var(--bw) var(--bc);
    }
  }
  &[size='2']::after {
    box-shadow:
      calc(-2 * var(--bw)) 0 0 var(--nbw) var(--bc),
      calc(2 * var(--bw)) 0 0 var(--nbw) var(--bc),
      0 calc(-2 * var(--bw)) 0 var(--nbw) var(--bc),
      0 calc(2 * var(--bw)) 0 var(--nbw) var(--bc);
    --bgi: linear-gradient(var(--bc), var(--bc));
    background-repeat: no-repeat;
    background-image: var(--bgi), var(--bgi), var(--bgi), var(--bgi);
    background-size: var(--bw) var(--bw);
    background-position: 0 0, 100% 0, 0 100%, 100% 100%;
  }
}
