
dialog.pui, .pui-dialog {
  --bw: var(--bwidth, 4px);
  --nbw: calc(-1 * var(--bw));
  --bc: var(--bcolor, #000);
  border: var(--bw) transparent solid;
  padding: 2ex 2ch;
  background-clip: border-box;
  box-shadow: var(--bw) 0 var(--bc), 0 var(--bw) var(--bc), var(--nbw) 0 var(--bc), 0 var(--nbw) var(--bc);
  max-width: calc(100% - 2 * var(--bw));
  max-height: calc(100% - 2 * var(--bw));
  box-sizing: border-box;
  &::backdrop { background-color: #0005; }
  &[size='0'] { border-color: var(--bc); box-shadow: none; }
  &[size='2'] {
    box-shadow:
      calc(-2 * var(--bw)) 0 0 var(--nbw) var(--bc),
      calc(2 * var(--bw)) 0 0 var(--nbw) var(--bc),
      0 calc(-2 * var(--bw)) 0 var(--nbw) var(--bc),
      0 calc(2 * var(--bw)) 0 var(--nbw) var(--bc);
    --bi: linear-gradient(var(--bc), var(--bc));
    background-image: var(--bi), var(--bi), var(--bi), var(--bi);
    --1bw: calc(100% + var(--bw));
    background-position: var(--nbw) var(--nbw), var(--nbw) var(--1bw), var(--1bw) var(--nbw), var(--1bw) var(--1bw);
    background-size: var(--bw) var(--bw);
    background-repeat: no-repeat;
  }
}
