
:root {
  --pui-primary: var(--primary, #209cee);
  --pui-success: var(--success, #92cc41);
  --pui-warning: var(--warning, #f7d51d);
  --pui-error: var(--error, #e76e55);
  --pui-disabled: var(--disabled, #d3d3d3);
}


.pui-text.primary, span.pui.primary { color: var(--pui-primary); }
.pui-text.success, span.pui.success { color: var(--pui-success); }
.pui-text.warning, span.pui.warning { color: var(--pui-warning); }
.pui-text.error, span.pui.error { color: var(--pui-error); }
.pui-text.disabled, span.pui.disabled { color: var(--pui-disabled); }


.pui-img, img.pui { image-rendering: pixelated; }


.pui-bg { position: relative; }
.pui-bg[no-repeat]::after { background-repeat: no-repeat; }
.pui-bg::after {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -999999999999999;
  image-rendering: pixelated;
  user-select: none;
  filter: brightness(var(--brightness));
  background-attachment: var(--attach);
  background-blend-mode: var(--blend-mode);
  background-clip: var(--clip);
  background-color: var(--color);
  background-image: var(--img);
  background-origin: var(--origin);
  background-position: var(--pos);
  background-size: var(--size);
}


.pui-cb {
  --bw: var(--bwidth, 4px);
  --bc: var(--bcolor, #000);
  box-shadow:
    calc(-1 * var(--bw)) 0 var(--bc),
    var(--bw) 0 var(--bc),
    0 calc(-1 * var(--bw)) var(--bc),
    0 var(--bw) var(--bc);
}
.pui-cb[size=2] {
  position: relative;
  box-shadow:
    calc(-2 * var(--bw)) 0 0 calc(-1 * var(--bw)) var(--bc),
    calc(2 * var(--bw)) 0 0 calc(-1 * var(--bw)) var(--bc),
    0 calc(-2 * var(--bw)) 0 calc(-1 * var(--bw)) var(--bc),
    0 calc(2 * var(--bw)) 0 calc(-1 * var(--bw)) var(--bc);
}
.pui-cb[size=2]::before,
.pui-cb[size=2]::after {
  content: '';
  position: absolute;
  top: var(--bw);
  width: var(--bw);
  height: calc(100% - 2 * var(--bw));
  box-shadow:
    0 calc(-1 * var(--bw)) var(--bc),
    0 calc(1 * var(--bw)) var(--bc);
}
.pui-cb[size=2]::before {
  left: 0;
}
.pui-cb[size=2]::after {
  right: 0;
}
.pui-cb.primary { --bcolor: var(--pui-primary); }
.pui-cb.success { --bcolor: var(--pui-success); }
.pui-cb.warning { --bcolor: var(--pui-warning); }
.pui-cb.error { --bcolor: var(--pui-error); }
.pui-cb.disabled { --bcolor: var(--pui-disabled); }


.pui-container, fieldset.pui {
  --bw: var(--bwidth, 4px);
  --bc: var(--bcolor, #000);
  border: var(--bw) solid var(--bc);
  padding: 1ex 2ch;
}
.pui-container > legend, fieldset.pui > legend {
  padding: 0 1ch;
  margin-left: -1ch;
}
.pui-container[centered] > legend, fieldset.pui[centered] > legend {
  text-align: center;
}
.pui-container[size=1], fieldset.pui[size=1] {
  border-left: none;
  border-right: none;
  box-shadow:
    calc(-2 * var(--bw)) 0 0 calc(-1 * var(--bw)) var(--bc),
    calc(2 * var(--bw)) 0 0 calc(-1 * var(--bw)) var(--bc);
  margin-inline: calc(var(--bw) + 2px);
}
.pui-container.primary, fieldset.pui.primary { --bcolor: var(--pui-primary); }
.pui-container.success, fieldset.pui.success { --bcolor: var(--pui-success); }
.pui-container.warning, fieldset.pui.warning { --bcolor: var(--pui-warning); }
.pui-container.error, fieldset.pui.error { --bcolor: var(--pui-error); }
.pui-container.disabled, fieldset.pui.disabled { --bcolor: var(--pui-disabled); }


.pui-radio, input[type=radio].pui {
  appearance: none;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0 .5ch;
  width: 2ch;
  cursor: pointer;
  outline: 0;
  vertical-align: bottom;
  height: 1em;
}
.pui-radio::after, input[type=radio].pui::after {
  color: var(--mark-color, inherit);
  content: var(--mark, '_');
  --r: var(--mark-zoom, 1.2);
  font-size: calc(1em * var(--r));
  bottom: 0; right: 0;
  position: absolute;
  transform: translateY(calc(100% * (var(--r) - 1) / (2 * var(--r))));
}
.pui-radio[after]::after, input[type=radio].pui[after]::after {
  right: auto;
}
.pui-radio:checked::after, input[type=radio].pui:checked::after {
  content: var(--mark-checked, '>');
  color: var(--mark-checked-color, var(--mark-color, inherit));
}
.pui-radio[after]:checked::after, input[type=radio].pui[after]:checked::after {
  content: var(--mark-after-checked, var(--mark-checked, '<'));
}
.pui-radio:hover::after, input[type=radio].pui:hover::after,
.pui-radio:focus::after, input[type=radio].pui:focus::after {
  animation: pui-radio-blink .5s infinite steps(1);
}
@keyframes pui-radio-blink { 0% { opacity: 0; } 50% { opacity: 1; } }
.pui-radio[triangle]:checked, input[type=radio].pui[triangle]:checked {
  vertical-align: baseline;
}
.pui-radio[triangle]:checked::after, input[type=radio].pui[triangle]:checked::after,
.pui-radio[triangle][after]:checked::after, input[type=radio].pui[triangle][after]:checked::after {
  content: '';
  --r: calc(1px * var(--mark-triangle-zoom, var(--mark-zoom, 2)));
  width: var(--r);
  height: var(--r);
  bottom: calc(7 * var(--r));
  right: calc(6 * var(--r));
  box-shadow:
    var(--r) var(--r), calc(2 * var(--r)) var(--r),
    var(--r) calc(2 * var(--r)), calc(2 * var(--r)) calc(2 * var(--r)), calc(3 * var(--r)) calc(2 * var(--r)), calc(4 * var(--r)) calc(2 * var(--r)),
    var(--r) calc(3 * var(--r)), calc(2 * var(--r)) calc(3 * var(--r)), calc(3 * var(--r)) calc(3 * var(--r)), calc(4 * var(--r)) calc(3 * var(--r)), calc(5 * var(--r)) calc(3 * var(--r)),
    var(--r) calc(4 * var(--r)), calc(2 * var(--r)) calc(4 * var(--r)), calc(3 * var(--r)) calc(4 * var(--r)), calc(4 * var(--r)) calc(4 * var(--r)), calc(5 * var(--r)) calc(4 * var(--r)), calc(6 * var(--r)) calc(4 * var(--r)),
    var(--r) calc(5 * var(--r)), calc(2 * var(--r)) calc(5 * var(--r)), calc(3 * var(--r)) calc(5 * var(--r)), calc(4 * var(--r)) calc(5 * var(--r)), calc(5 * var(--r)) calc(5 * var(--r)),
    var(--r) calc(6 * var(--r)), calc(2 * var(--r)) calc(6 * var(--r)), calc(3 * var(--r)) calc(6 * var(--r)), calc(4 * var(--r)) calc(6 * var(--r)),
    var(--r) calc(7 * var(--r)), calc(2 * var(--r)) calc(7 * var(--r));
  transform: none;
}
.pui-radio[triangle][after]:checked::after, input[type=radio].pui[triangle][after]:checked::after {
  transform: rotateY(180deg);
  right: calc(4 * var(--r));
}
.pui-radio::before, input[type=radio].pui::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}
.pui-radio > span, input[type=radio].pui > span {
  cursor: pointer;
}


.pui-checkbox, input[type=checkbox] {
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  position: relative;
  margin: 0 .5ch;
  width: 2ch;
  height: 1em;
}
.pui-checkbox::before, input[type=checkbox]::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.pui-checkbox::after, input[type=checkbox]::after {
  --r: calc(1px * var(--mark-zoom, 2));
  --r0: var(--r);
  --r1: calc(2 * var(--r));
  --r2: calc(3 * var(--r));
  --r3: calc(4 * var(--r));
  --r4: calc(5 * var(--r));
  --r5: calc(6 * var(--r));
  --r6: calc(7 * var(--r));
  --r7: calc(8 * var(--r));
  --r8: calc(9 * var(--r));
  --r9: calc(10 * var(--r));
  --box-incomplete: var(--r0)var(--r0),var(--r1)var(--r0),var(--r2)var(--r0),var(--r3)var(--r0),var(--r4)var(--r0),var(--r5)var(--r0),var(--r6)var(--r0),var(--r0)var(--r1),var(--r0)var(--r2),var(--r7)var(--r4),var(--r0)var(--r5),var(--r7)var(--r5),var(--r0)var(--r6),var(--r7)var(--r6),var(--r0)var(--r7),var(--r1)var(--r7),var(--r2)var(--r7),var(--r3)var(--r7),var(--r4)var(--r7),var(--r5)var(--r7),var(--r6)var(--r7),var(--r7)var(--r7);
  --box-right-corner: var(--r7)var(--r0),var(--r7)var(--r1),var(--r7)var(--r2),var(--r7)var(--r3);
  --box-left-puzzle: var(--r0)var(--r3),var(--r0)var(--r4);
  content: '';
  position: absolute;
  color: var(--mark-color, inherit);
  width: var(--r);
  height: var(--r);
  bottom: var(--r7);
  right: var(--r9);
  box-shadow: var(--box-incomplete),var(--box-right-corner),var(--box-left-puzzle);
}
.pui-checkbox[after]::after, input[type=checkbox][after]::after {
  right: auto;
  left: calc(-1 * var(--r));
}
.pui-checkbox:checked::after, input[type=checkbox]:checked::after {
  --c: var(--mark-check-color,var(--mark-color,));
  --col0: var(--r0)var(--r3)var(--c),var(--r0)var(--r4)var(--c);
  --col1: var(--r1)var(--r3)var(--c),var(--r1)var(--r4)var(--c);
  --col2: var(--r2)var(--r4)var(--c),var(--r2)var(--r5)var(--c);
  --col3: var(--r3)var(--r5)var(--c),var(--r3)var(--r6)var(--c);
  --col4: var(--r4)var(--r4)var(--c),var(--r4)var(--r5)var(--c);
  --col5: var(--r5)var(--r3)var(--c),var(--r5)var(--r4)var(--c);
  --col6: var(--r6)var(--r2)var(--c),var(--r6)var(--r3)var(--c);
  --col7: var(--r7)var(--r1)var(--c),var(--r7)var(--r2)var(--c);
  --col8: var(--r8)var(--r0)var(--c),var(--r8)var(--r1)var(--c);
  --col9: var(--r9)var(--r0)var(--c),var(--r9)var(--r1)var(--c);
  box-shadow: var(--col0),var(--col1),var(--col2),var(--col3),var(--col4),var(--col5),var(--col6),var(--col7),var(--col8),var(--col9),var(--box-incomplete);
}
.pui-checkbox[animation]:checked:after,
input[type=checkbox][animation]:checked:after {
  animation: pui-checkbox-draw .2s steps(1) reverse;
}
@keyframes pui-checkbox-draw {
  00.000% { --col9: 0 0; }
  11.111% { --col8: 0 0; }
  22.222% { --col7: var(--box-right-corner); }
  33.333% { --col6: 0 0; }
  44.444% { --col5: 0 0; }
  55.555% { --col4: 0 0; }
  66.666% { --col3: 0 0; }
  77.777% { --col2: 0 0; }
  88.888% { --col1: 0 0; }
  100.00% { --col0: var(--box-left-puzzle); opacity: 0; }
}
